node_modules/
dist/
build/
tmp/
.temp/
.tmp/
.turbo/
coverage/

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.local
.env.development
.env.test
.env.production
